<div class="panel panel-default">
  <div class="panel-body message-box">
    <div class="pull-right"><%= message.timestamp %></div>
    <div class="">
      <%= image_tag avatar_url(message.try(:sender)), class: "img-circle avatar-small" %>
      <!-- <img src="/assets/dummy.jpg" class="img-circle" alt="Cinque Terre"> -->
      <%= message.try(:sender).try(:fullname) %>
    </div><br>
    <%= message.try(:body) %></span>
  </div>
</div>
