<!-- <h1><%= @user.fullname %></h1>


<div id="messages" data-chat-room-id="<%= @user.id %>">	
	<%= render @messages %>
</div>


<%=# form_for @message  do |f| %>
  <div class="form-group">
    <%#= f.hidden_field :user_id, :value=>params[:id],class: 'form-control' %>
    <%#= f.label :body %>
    <%#= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%#= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<%# end %> -->





