
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "fullcalendar";
@import "datepicker";


body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  color: #00A699;
}

.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: #00A699;
}

.text-red, .icon-red {
  color: #FF5A5F;
}

// NAVBARS
.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 400;
}

// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn.btn-form {
  border: 1px solid #00A699;
  background-color: #00A699;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

.btn.btn-facebook {
  border: 1px solid #3B5998;
  background-color: #3B5998;
}

.btn.btn-facebook:active {
  outline: none;
  border-color: #2d467b;
  background-color: #2d467b;
}

// PANELS
.panel-default .panel-heading {
  color: #ffffff;
  background-color: #00A699;
  font-size: 18px;
  font-weight: 400;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

// AVATAR
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

// FORMS
.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.form-group input {
  height: 45px;
  border: 1px solid #00A699;
}

.form-group textarea {
  border: 1px solid #00A699;
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #00A699;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari & Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #00A699;
  top: 35px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #00A699;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #00A699;
}

// SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

// PHOTO UPLOAD
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

// ROOM SHOW
.ingredients li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
}

.ingredients .text-line-through {
  text-decoration: line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}


.diets li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
}

.diets .text-line-through {
  text-decoration: line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}

// orders
.order-table td {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dce0e0;
  padding: 10px;
}

.order-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.form-control.datepicker {
  color: #00A699;
  background-color: white;
  border: 1px solid #00A699;
  text-align: center;
}


.message-alert {
  color: #d43242;
  font-size: 14px;
  padding-top: 10px;
}

// SEARCH
#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}

.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #00A699;
}

// HOME PAGE
.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

// CALENDAR
.fc-content.Waiting {
  background-color: #C9CC6D;
}

.fc-past {
  background-color: lightgray;
}

.fc-day {
  position: relative;
}

.fc-content {
  background-color: #00A699;
  height: 40px;
  border-radius: 20px;
}

.fc-event {
  border: 0px;
  background-color: transparent;
}

.fc-title {
  font-size: 14px;
  position: relative;
  top: 7px;
  left: 20px;
}

.day-price {
  position: absolute;
  color: #EAA90B;
  bottom: 2px;
  right: 2px;
}

.badge {
  background-color: #FF5A5F;
  position: relative;
  top: -15px;
  left: -5px;
}

#add-card form {
  width: 480px;
  margin: 20px auto;
}

#add-card label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

#add-card label > span {
  float: left;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 24px;
  color: #32315E;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
}

.field::-webkit-input-placeholder { color: #CFD7DF; }
.field::-moz-placeholder { color: #CFD7DF; }
.field:-ms-input-placeholder { color: #CFD7DF; }

.field:focus,
.field.StripeElement--focus {
  border-color: #F99A52;
}

#add-card button {
  float: left;
  display: block;
  background-image: linear-gradient(-180deg, #F8B563 0%, #F99A52 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
  color: white;
  border-radius: 24px;
  border: 0;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  line-height: 48px;
  outline: none;
}

#add-card button:focus {
  background: #EF8C41;
}

#add-card button:active {
  background: #E17422;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

//Payment form

.example.example3 {
  background-color: #525f7f;
}

.example.example3 * {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.example.example3 .fieldset {
  margin: 0 15px 30px;
  padding: 0;
  border-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.example.example3 .field {
  padding: 10px 20px 11px;
  background-color: #7488aa;
  border-radius: 20px;
  width: 100%;
}

.example.example3 .field.half-width {
  width: calc(50% - (5px / 2));
}

.example.example3 .field.third-width {
  width: calc(33% - (5px / 3));
}

.example.example3 .field + .field {
  margin-top: 6px;
}

.example.example3 .field.focus,
.example.example3 .field:focus {
  color: #424770;
  background-color: #f6f9fc;
}

.example.example3 .field.invalid {
  background-color: #fa755a;
}

.example.example3 .field.invalid.focus {
  background-color: #f6f9fc;
}

.example.example3 .field.focus::-webkit-input-placeholder,
.example.example3 .field:focus::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example3 .field.focus::-moz-placeholder,
.example.example3 .field:focus::-moz-placeholder {
  color: #cfd7df;
}

.example.example3 .field.focus:-ms-input-placeholder,
.example.example3 .field:focus:-ms-input-placeholder {
  color: #cfd7df;
}

.example.example3 input, .example.example3 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example3 input {
  color: #fff;
}

.example.example3 input::-webkit-input-placeholder {
  color: #9bacc8;
}

.example.example3 input::-moz-placeholder {
  color: #9bacc8;
}

.example.example3 input:-ms-input-placeholder {
  color: #9bacc8;
}

.example.example3 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 0 15px;
  background-color: #fcd669;
  border-radius: 20px;
  color: #525f7f;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.example.example3 button:active {
  background-color: #f5be58;
}

.example.example3 .error svg .base {
  fill: #fa755a;
}

.example.example3 .error svg .glyph {
  fill: #fff;
}

.example.example3 .error .message {
  color: #fff;
}

.example.example3 .success .icon .border {
  stroke: #fcd669;
}

.example.example3 .success .icon .checkmark {
  stroke: #fff;
}

.example.example3 .success .title {
  color: #fff;
}

.example.example3 .success .message {
  color: #9cabc8;
}

.example.example3 .success .reset path {
  fill: #fff;
}

.message-box{
  min-height: 100px;
}
.img-circle{
  width: 40px
}

.unread-button {
  background-color: red;
  border: none;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 30px;
}
.unread-button {border-radius: 50%;}